<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>AddFriendServlet</servlet-name>
        <servlet-class>com.birthdaytracker.servlet.AddFriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFriendServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListFriendsServlet</servlet-name>
        <servlet-class>com.birthdaytracker.servlet.ListFriendsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListFriendsServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <servlet-class>com.birthdaytracker.servlet.DeleteFriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>